<div class="mapBackground">
    <div class="container">
        <a [routerLink]="['/countries', Americas]">
            <div class="box america">
                <h1>America</h1>
            </div>
        </a>
        <a [routerLink]="['/countries', Europe]">
            <div class="box europe">
                <h1>Europe</h1>
            </div>
        </a>
        <a [routerLink]="['/countries', Africa]">
            <div class="box africa">
                <h1>Africa</h1>
            </div>
        </a>
        <a [routerLink]="['/countries', Asia]">
            <div class="box asia">
                <h1>Asia</h1>
            </div>
        </a>
        <a [routerLink]="['/countries', Oceania]">
            <div class="box australia">
                <h1>Oceania</h1>
            </div>
        </a>
    </div>
</div>